!!!5
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title} - My Site
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/jquery-ui.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/jquery.gridster.min.css')

    link(rel='stylesheet', href='/css/fixes.css')
    link(rel='stylesheet', href='/css/fixes-print.css', media='print')
    link(rel='stylesheet', href='/css/delineate.css')
    link(rel='stylesheet', href='/css/chartled.css')

    script(type='text/javascript', src='/javascripts/deps/jquery-1.9.1.js')
    script(type='text/javascript', src='/javascripts/deps/jquery-ui.js')
    script(type='text/javascript', src='/javascripts/chartled/deps/d3.v2.min.js')
    script(type='text/javascript', src='/javascripts/chartled/deps/delineate.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/bootbox.min.js')
    script(type='text/javascript', src='/js/bootstrap-contextmenu.js')
    script(type='text/javascript', src='/javascripts/chartled/builder/chartdFunctions.js')
    script(type='text/javascript', src='/metrics')
    script(type='text/javascript', src='/javascripts/chartled/ChartledDefinition.js')
    script(type='text/javascript', src='/javascripts/chartled/Clock.js')
    script(type='text/javascript', src='/javascripts/chartled/TimeKeeper.js')
    script(type='text/javascript', src='/javascripts/chartled/viewer/chartled.js')
    script(type='text/javascript', src='/javascripts/chartled/deps/jquery.gridster.js')
    script(type='text/javascript', src='/javascripts/chartled/deps/rangy-core.js')
    script(type='text/javascript', src='/javascripts/chartled/deps/hallo.js')
    script(type='text/javascript', src='/javascripts/chartled/chartles/BaseChartle.js')
    script(type='text/javascript', src='/javascripts/chartled/chartles/MetricEditor.js')
    script(type='text/javascript', src='/javascripts/chartled/chartles/ChartleEditDialog.js')
    script(type='text/javascript', src='/javascripts/chartled/chartles/DashingChartleEditor.js')
    script(type='text/javascript', src='/javascripts/chartled/chartles/text/Renderer.js')
    script(type='text/javascript', src='/javascripts/chartled/chartles/text/Editor.js')
    script(type='text/javascript', src='/javascripts/chartled/chartles/chart/Renderer.js')
    script(type='text/javascript', src='/javascripts/chartled/chartles/chart/Editor.js')
    script(type='text/javascript', src='/javascripts/chartled/chartles/DashingChartle.js')
    script(type='text/javascript', src='/javascripts/chartled/chartles/clock/Renderer.js')
    script(type='text/javascript', src='/javascripts/chartled/chartles/clock/Editor.js')
    script(type='text/javascript', src='/javascripts/chartled/chartles/number/Renderer.js')
    script(type='text/javascript', src='/javascripts/chartled/chartles/number/Editor.js')
    script(type='text/javascript', src='/javascripts/chartled/chartles/spacer/Renderer.js')
    script(type='text/javascript', src='/javascripts/chartled/deps/jquery.boxfit.js')

  body#index(class=isDashboard?'dashboard':'editor')
    unless isDashboard
      nav.navbar.navbar-inverse.navbar-fixed-top#navbar(role="navigation")
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target="#chartled-navbar-collapse-1")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
          a.navbar-brand(href="#") Chartled
    div#edit-context-menu.context-menu
      ul.dropdown-menu(role="menu")
        li.editable-only
          a.edit-chartled(tabindex="-1", href="#")
            i.fa.fa-pencil
            |&nbsp;Edit
        li.divider
        li.editable-only
          a.remove-chartled(tabindex="-1", href="#")
            i.fa.fa-times
            |&nbsp;Remove
        li.divider
        li.unlock
          a.disabled(tabindex="-1", href="#", onclick="setPageModeEditable();")
            i.fa.fa-unlock(style="width:15px")
            |&nbsp;Unlock Dashboard
        li.lock.disabled
          a.disabled(tabindex="-1", href="#", onclick="setPageModeReadOnly();")
            i.fa.fa-lock(style="width:15px")
            |&nbsp;Lock Dashboard
    div#page-context-menu.context-menu
      ul.dropdown-menu(role="menu")
        li.editable-only
          a(href='#', onclick="if(!$(this).hasClass('disabled')) { var c=addNewChart([{metrics:[]},{metrics:[]}]); chartledDefinition.configureChartle(c.id); }")
            i.fa.fa-bar-chart-o
            |&nbsp;Add Chart
        li.editable-only
          a(href='#', onclick="if(!$(this).hasClass('disabled')) { var c=addNewNumber(); chartledDefinition.configureChartle(c.id); }")
            i.fa.fa-subscript
            |&nbsp;Add Number
        li.editable-only
          a(href='#', onclick="if(!$(this).hasClass('disabled')) { addNewClock(); }")
            i.fa.fa-clock-o
            |&nbsp;Add Clock-face
        li.editable-only
          a(href='#', onclick="if(!$(this).hasClass('disabled')) { addNewTextBox(); }")
            i.fa.fa-font
            |&nbsp;Add Textbox
        li.editable-only
          a(href='#', onclick="if(!$(this).hasClass('disabled')) { addNewSpacer(); }")
            i.fa.fa-arrows
            |&nbsp;Add Spacer
        li.divider
        li
          a.import(tabindex="-1", href="#", onclick="importChartles()")
            i.fa.fa-upload
            |&nbsp;Import Dashboard
        li
          a.export(tabindex="-1", href="#", onclick="exportChartles()")
            i.fa.fa-download
            |&nbsp;Export Dashboard
        li.divider
        li.unlock
          a(tabindex="-1", href="#", onclick="setPageModeEditable();")
            i.fa.fa-unlock(style="width:15px")
            |&nbsp;Unlock Dashboard
        li.lock.disabled
          a.disabled(tabindex="-1", href="#", onclick="setPageModeReadOnly();")
            i.disabled.fa.fa-lock(style="width:15px")
            |&nbsp;Lock Dashboard

    div#contents(style="width:100%")
      div#temporaryDatePicker.no-print
        span   &nbsp;TimeZone &nbsp;
        select#timeZone
          option(value="America/Los_Angeles") America/Los Angeles
          option(value="Europe/London", selected=true) Europe/London
        span From  &nbsp;
        input#from(value='now - 30 minutes')
        span   &nbsp;To &nbsp;
        input#to(value='now')


    script(type='text/javascript')
      var page_mode= "readonly"; // readonly, editable

      $(function() {
        $('.btn').button()
        $.getJSON( "/timezones",function( data, textStatus, jqXHR ){
          $.each(data, function (index, value) {
            $("#timeZone").append('<option value="'+value+'">'+value+'</option>');
          });
          startAgain(!{definition});
        });

        $("#padlock").on("click", togglePageMode);
        var chartledEditorContextMenuDefinition= {
          target: '#edit-context-menu',
          before: function(e,element) {
            this.getMenu()[0].selectedChartleId= element[0].id;
            e.preventDefault();
            return true;
          },
          onItem: function(e, element) {
            if( !$(element).hasClass("disabled") ) {
              if( $(element).hasClass("edit-chartled") ) {
                chartledDefinition.configureChartle( this.selectedChartleId );
              }
              else if( $(element).hasClass("remove-chartled") ) {
                chartledDefinition.removeChartle( this.selectedChartleId );
              }
            }
          }
        };

        $(".chartled").contextmenu(chartledEditorContextMenuDefinition);
        document.addEventListener('DOMNodeInserted', function(e) {
          var el = $(e.target);
          if(el.hasClass('chartled')) {
            el.contextmenu(chartledEditorContextMenuDefinition);
          }
        });
        $("#contents").contextmenu({
          target: '#page-context-menu'
        });
      });

      function updatePageCss() {
        $("body").removeClass("pageMode-readonly");
        $("body").removeClass("pageMode-editable");
        $("body").addClass("pageMode-" + page_mode);
      }

      function setPageModeReadOnly() {
        page_mode= "readonly";
        $("li.unlock a").removeClass("disabled");
        $("li.unlock").removeClass("disabled");
        $("li.lock a").addClass("disabled");
        $("li.lock").addClass("disabled");

        layout.disable();
        layout.disable_resize();
        $( ".text .realValue" ).hallo({editable: false});
        $('.context-menu').find("li.editable-only").addClass("disabled");
        $('.context-menu').find("li.editable-only *").addClass("disabled");
        updatePageCss();
      }

      function setPageModeEditable() {
        page_mode= "editable";
        $("li.lock a").removeClass("disabled");
        $("li.lock").removeClass("disabled");
        $("li.unlock a").addClass("disabled");
        $("li.unlock").addClass("disabled");

        layout.enable();
        layout.enable_resize();
        $( ".text .realValue" ).hallo({editable: true});
        $('.context-menu').find("li.editable-only").removeClass("disabled");
        $('.context-menu').find("li.editable-only *").removeClass("disabled");
        updatePageCss();
      }

      function togglePageMode() {
        if( page_mode == "readonly" ) {
          setPageModeEditable();
        }
        else {
          setPageModeReadOnly();
        }
      }
